* {
    max-width: 100%;
    background-color: #f0f0f0;
    font-size: 16px;
}

h2 {
    font-size: 26px;
}

div {
    margin: 10px;
}

span {
    color: #fff;
    font-size: 12px;
    background-color: red;
    padding: 0 10px;
    margin-left: 20px;
}

.register__detail {
    width: 650px;
    margin: 0 auto;
}

.input-text {
    width: 600px;
    padding: 10px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.season-options {
    text-align: justify;
}

label {
    padding: 20px;
}

.season-options input[type="checkbox"] {
    width: 30px;
    height: 20px;
}

textarea {
    width: 600px;
    padding: 10px;
}

.button {
    width: 650px;
    text-align: center;
}

.button__return {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #A9A9A9;
    padding: 10px 60px;
    background-color: #C0C0C0;
    border-radius: 5px;
}

.button__update {
    margin: 30px;
    padding: 10px 60px;
    background-color: #FFD700;
    border-radius: 5px;
}