* {
    max-width: 100%;
    background-color: #f0f0f0;
}

h2 {
    padding-left: 20px;
}

.index__search_form {
    float: left;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.index__items {
    float: right;
    align-items: center;
    width: 1250px;
    padding: 10px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.item__content {
    width: 360px;
    padding: 10px;
    margin: 20px 10px 10px;
    background-color: #fff;
}

.update-form__item-name {
    width: 180px;
    float: left;
    padding-left: 20px;
    font-size: 18px;
    background-color: #fff;
}

.update-form__item-price {
    width: 80px;
    float: left;
    padding-left: 20px;
    font-size: 18px;
    background-color: #fff;
}